<ngb-tabset #t="ngbTabset">
  <ngb-tab id="tab-selectbyid1" title="W3 Login">
    <ng-template ngbTabContent>
      <form>
        First name:<br>
        <input type="text" name="firstname" placeholder="Mickey"><br> Last name:<br>
        <input type="password" name="lastname" placeholder="Mouse"><br><br>
        <input type="submit" value="Submit">
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-selectbyid2" title="Login">
    <ng-template ngbTabContent>
      <form>
        First name:<br>
        <input type="text" name="firstname" placeholder="Mickey"><br> Last name:<br>
        <input type="password" name="lastname" placeholder="Mouse"><br><br>
        <input type="submit" value="Submit">
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-selectbyid3" title="Register">
    <ng-template ngbTabContent>
      <form>
        First name:<br>
        <input type="text" name="firstname" placeholder="Mickey"><br>
        Last name:<br>
        <input type="password" name="lastname" placeholder="Mouse"><br><br>
        <input type="submit" value="Submit">
      </form>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
